@model IEnumerable<MovieStoreExamen.Models.Movie>

@{
    ViewData["Title"] = "MovieStore Brussel";
}

<h1>Brussel</h1>

@if(User.IsInRole("Administrator") || User.IsInRole("Worker"))
{
    <p>
    <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rental_Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_Brussel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_Returned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rental_Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Brussel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount_Returned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.Name)
            </td>
            <td>
                    @if(User.IsInRole("Administrator") || User.IsInRole("Worker"))
                    {
                <a asp-action="Details" asp-route-id="@item.MovieId">Details</a>
                <a asp-action="Edit" asp-route-id="@item.MovieId">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.MovieId">Delete</a>
                    }
               <a asp-area="" asp-controller="Rentals" asp-action="Create">Film Lenen</a>
            </td>
        </tr>
}
    </tbody>
</table>
