@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<MovieStoreExamen.Models.Rental>
@inject IViewLocalizer L
@{
    ViewData["Title"] = @L["Leningen"];
}

<h1>@L["Leningen"]</h1>

<p>
    <a asp-action="Create">@L["Voeg toe"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RentalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentalExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RentalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentalExpiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieTitle)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RentalId">@L["Bewerk"]</a> |
                <a asp-action="Details" asp-route-id="@item.RentalId">@L["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.RentalId">@L["Verwijder"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
