@using Microsoft.AspNetCore.Mvc.Localization
@model MovieStoreExamen.Models.Customer
@inject IViewLocalizer L
@{
    ViewData["Title"] = @L["Verwijder"];
}

<h1>@L["Verwijder"]</h1>

<h3>@L["Ben je zeker dat je deze klant wil verwijderen?"]</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strikes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@L["Verwijder"] class="btn btn-danger" /> |
        <a asp-action="Index">@L["Terug naar overzicht"]</a>
    </form>
</div>
