@using Microsoft.AspNetCore.Mvc.Localization
@model MovieStoreExamen.Models.Customer
@inject IViewLocalizer L

@{
    ViewData["Title"] = @L["Details"];
}

<h1>@L["Details"]</h1>

<div>
    <h4>@L["Klant"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strikes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strikes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@L["Wijzigen"]</a> |
    <a asp-action="Index">@L["Terug naar overzicht"]</a>
</div>
