@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<MovieStoreExamen.Models.Customer>
@inject IViewLocalizer L
@{
    ViewData["Title"] = @L["Klanten"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create">@L["Nieuwe klant"]</a>
</p>

<p>
    <form asp-action="Index" asp-controller="Customers" method="get">
      @L["Selecteer"]:
    <input type="text" name="searchField" />
    <input type="submit" value="Filter" />
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.strikes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.strikes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@L["Wijzigen"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@L["Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@L["Verwijderen"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
